:root {
    --bg-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-feature-settings: "liga" 0;
    line-height: 1;
    text-align: left;
    -moz-font-feature-settings: "liga" off;
}

body a {
    color: unset;
}

.document {
    color: #343b40;
    font-family: Verdana;
    font-size: 12px;
    line-height: 17px;
    word-wrap: break-word;

    padding-left: 4px;
    margin: 3em auto;
}

.document table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    line-height: 17px;
    color: inherit;
}

.document ol,
.document ul,
.document li {
    margin: 5px 0 0 10px;
    padding: 0;
}

.document ol li,
.document ul li {
    margin: 0 0 0 13px;
    padding-left: 10px;
    break-inside: avoid;
}

ol ol,
ol ul,
ul ol,
ul ul {
    max-width: 100%;
}

.document ol.dot-list>li,
.document ul.dot-list>li {
    margin-bottom: 8px;
}

.multiline-list li:not(:last-child) {
    margin-bottom: 10px !important;
}

.document .name {
    color: #343b40;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 34px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}

.document .profTitle {
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 3px;
}

.document .heading {
    clear: both;
    color: #343b40;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    text-transform: uppercase;

    font-size: 13px;
    letter-spacing: 1px;
    line-height: 28px;
}

.document .heading:before {
    background-color: var(--bg-color);
    border: 1px solid #343b40;
    border-radius: 100%;
    content: "";
    display: block;
    height: 8px;
    left: -25px;
    position: absolute;
    top: 9px;
    width: 8px;
    z-index: 2;
}

.document .section {
    border-color: #343b40;
    border-left: 1px solid;
    border-bottom: 1px solid transparent;
    padding: 15px 0 0 20px !important;
    position: relative;
}

.document .section:first-child,
.document .section:nth-child(2),
.document .name {
    border: none !important;
    margin-top: 0;
    padding-top: 0 !important;
}

.section:not(.skills, .projects, .history) {
    page-break-inside: avoid;
}

.document .txt-bold,
.document .jobtitle,
.document .degree {
    font-weight: bold;
}

.document .jobtitle,
.document .degree,
.document .companyname,
.document .programline {
    color: #343b40;
}

.document .section.role {
    margin-top: 12px;
    font-weight: bold;
}

.document .datesWrapper {
    float: right;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.document .flt-right {
    float: right;
}

.document .displayNoneThisField,
.document .hide-bar .field-ratt {
    display: none;
}

.document .paddedline {
    display: block;
}

.document .paragraph:not(:first-child) {
    margin-top: 10px;
}

.education .paragraph:not(:first-child) {
    margin-top: 14px !important;
}

.document .contact {
    font-size: 12px;
    line-height: 17px;
    margin: 0;
    position: relative;
    text-align: left;
}

.document .maincolumn {
    margin-left: 0;
}

.document .table_wrapper {
    margin-top: 0;
    width: 100%;
}

.document table.skills th,
.document table.skills td {
    text-align: center;
    width: 20%;
}

.document table.skills th {
    text-decoration: underline;
}

.document table.skills .skillname,
.document table.skills .skillrating {
    text-align: left;
    width: 35%;
}

.document table.skills .skillrating {
    width: 20%;
}

.document table.skills .skillyears,
.document table.skills .skilllast {
    width: 19%;
}

.document table.skills .pad1 {
    width: 5%;
}

.document table.skills .pad2,
.document table.skills .pad3 {
    width: 1%;
}

.skills .paragraph {
    column-count: 2;
}

.document .lang-sec.infobarsec .paragraph *,
.document .lang-sec.infotilesec .paragraph *,
.document .skli-sec .paragraph * {
    font-size: 12px;
}

.document .lang-sec .heading,
.document .skli-sec .heading {
    margin-left: 0;
}

.hBar-container {
    display: flex;
    justify-content: space-between;
}

.hBar {
    margin-right: 10px;
    min-width: 296px;
}

.hBarRightColumn {
    align-items: center;
    display: flex;
    border-left: 1px solid;
    padding-left: 10px;
}

.sortableInner {
    width: max-content;
}

.labelValue {
    height: 25px;
}

.labelValue .label {
    display: inline-block;
    font-weight: bold;
    width: 108px;
}

.labelValue .label::after {
    content: ":";
    float: right;
}

.labelValue .value {
    display: inline-block;
}

.labelValue.full .label {
    width: auto;
}

.labelValue:nth-child(1) {
    padding-right: 10px;
}

.labelValue:nth-child(2) {
    border-left: 1px solid;
    padding-left: 10px;
}

.projects .desc {
    margin: 0.4em 0;
}

.labeled-link {
    font-size: 0.9em;
    margin-bottom: 0.5em;
}